/* --------------------------------- */
/* -----------------GLOBAL--------------- */
/* --------------------------------- */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
    min-height: 100dvh;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
    outline: none;
}

h3 {
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    text-align: center;
    text-shadow: #000;
}

.d_none {
    display: none;
}

.noscroll {
    overflow: hidden;
}

/* --------------------------------- */
/* -----------------HEADER--------------- */
/* --------------------------------- */

header {
    /* background-color: #004080; */
    padding: 1rem 0;
    color: white;
}

.nav_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_wrapper img {
    height: 2rem;
    filter: invert();
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav_list li a {
    color: white;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}

.nav_list li a:hover,
.nav_list li a:focus {
    background-color: white;
    color: #004080;
    text-decoration: none;
    outline: none;
}

/* --------------------------------- */
/* -----------------MAIN--------------- */
/* --------------------------------- */

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex: 1;
    min-height: 100dvh;
}

/* -----------------FILTER--------------- */

.filter_wrapper {
    /* background-color: #9a80f5; */
    margin-top: 1rem;
    margin-bottom: 1rem;

    max-width: 1440px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.filter_wrapper h1 {}

.filterButton_wrapper {
    /* margin-left: ; */
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.filter_container {
    /* background-color: #004080; */
    position: relative;
    /* background-color: #a40a0a; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.input_and_button {
    /* background-color: #ffcb05; */
    display: flex;
    gap: 0.2rem;
}

.search_error {
    /* background-color: #ffcb05; */
    border-radius: 8px;
    padding: 0.5rem;
    position: absolute;
    margin-bottom: -5rem;
}

.filterButton {
    width: 8rem;
    padding: 6px 12px;
    background: lightgray;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    /* margin: 0.1rem; */
}

.filterButton.selected {
    background-color: #ffcb05;
    color: black;
    font-weight: bold;
}

.filterButton img {
    height: 1rem;

}

/* -----------------POKEMON CARDS--------------- */

.main_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: #74f4c1; */
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.main_container {
    /* background-color: #004080; */
    gap: 5rem;
    padding: 1rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-radius: 0.5rem;
    padding: 1rem;

    gap: 1rem;
}

.pokemon_card_wrapper {
    /* background-color: #ffcb05; */
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;

    /* background-color: #1868c5; */

}

.pokemon_card {
    /* background-color: #eb9c9c; */
    color: white;
    position: relative;

    border-radius: 0.5rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* padding-bottom: 1rem; */
    width: 150px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    /* overflow: hidden; */

}

.upper_container {
    /* background-color: #d62020; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.lower_container {
    background-color: #000000c8;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.pokemon_card:hover {
    transform: scale(1.05);
}

.pokemon_card_image {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -75%);
    height: 100px;
    width: auto;
    z-index: 99;
    transition: transform 0.5s ease;
    transform-origin: center center;
    animation: floatUpDown2 2s ease-in-out infinite;
    animation-delay: 0s;


}

@keyframes floatUpDown2 {
    0% {
        transform: translate(-50%, -76%);
    }

    50% {
        transform: translate(-50%, -75%);
    }

    100% {
        transform: translate(-50%, -76%);
    }
}


.pokemon_card_image:hover {
    transform: translate(-50%, -75%) scale(1.2);
}

.pokemon_card_bg_image {

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    height: 150px;
    width: auto;
    z-index: 1;
    transition: transform 0.5s ease;
    transform-origin: center center;
    /* filter: invert(1); */
    opacity: 0.07;
    pointer-events: none;


    /* transition: transform 0.5s ease-out; */
}

/* 
.pokemon_card_bg_image.open {

    transform: translate(-50%, -50%) rotate(720deg);

} */

.pokemon_id_mask {
    /* background-color: #00000000; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 0.5rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    overflow: hidden;
}

.pokemon_id {
    /* background-color: #ccc; */
    color: #707070;
    text-align: left;
    font-size: 2.7rem;
    font-weight: 900;
    position: absolute;
    bottom: -1.1rem;
    left: -0.75rem;
    /* filter: opacity(0.9); */

    z-index: 2;
}

.divider {
    background-color: #ffffff28;
    width: 100%;
    height: 3px;
    margin: 0.5rem;
}

.type_icons {
    /* background-color: #74f4c1; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 3;
}

.type_icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* box-shadow: 0 0 10px #FBA54C; */
    transition: transform 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.type_icon:hover {
    transform: scale(1.25);
}

.pokemon_name_bg_mask {
    width: 100%;
}

.pokemon_name_grid {
    position: relative;
    /* margin-bottom: -0.9rem; */
    z-index: 999;

    /* background-color: #ffffff1f; */
}

.pokemon_name_grid h3 {}


/* --------------------------------- */
/* -----------------FOOTER--------------- */
/* --------------------------------- */

footer {
    background-color: #222;
    color: #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    height: 5rem;

    transition: all 250ms ease;
}

footer a {
    color: #ccc;
}

footer a:hover,
footer a:focus {
    color: white;
    text-decoration: underline;
    outline: none;

}

/* --------------------------------- */
/* -----------------LOADING SPINNER--------------- */
/* --------------------------------- */

.loading_spinner {
    background-color: rgba(255, 255, 255, 0.432);
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998;
    /* backdrop-filter: blur(10px); */
}

.loading_spinner img {
    width: 64px;
    height: 64px;
    animation: spin 0.25s linear infinite;
    opacity: 0.8;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.d_none {
    display: none !important;
}


/* --------------------------------- */
/* -----------------SCROLL TO TOP--------------- */
/* --------------------------------- */

.scroll-to-top {
    display: flex;
    align-items: center;

    position: fixed;
    padding: 0.2rem;
    text-align: center;
    bottom: 4%;
    right: 5%;
    transform: translate(-0%, -0%);
    background-color: rgba(222, 222, 222, 0.592);
    color: rgb(79, 79, 79);
    /* padding: 10px 20px; */
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: rgba(117, 117, 117, 0.7);
    text-decoration: none;

}


/* --------------------------------- */
/* -----------------RESPONSIVE--------------- */
/* --------------------------------- */
@media (max-width: 380px) {
    footer {
        text-align: left;
    }
}



@media (max-width: 520px) {
    .filter_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    nav ul.nav_wrapper {
        flex-direction: column;
        gap: 1rem;
    }
}