/* -------------BACKGROUND ICONS AND TEXT---------------- */
.bg_bug {
    background: #A6B91A;
}

.bg_dark {
    background: #705746;
}

.bg_dragon {
    background: #6F35FC;
}

.bg_electric {
    background: #F7D02C;
}

.bg_fairy {
    background: #D685AD;
}

.bg_fighting {
    background: #C22E28;
}

.bg_fire {
    background: #EE8130;
}

.bg_flying {
    background: #A98FF3;
}

.bg_ghost {
    background: #735797;
}

.bg_grass {
    background: #7AC74C;
}

.bg_ground {
    background: #E2BF65;
}

.bg_ice {
    background: #96D9D6;
}

.bg_normal {
    background: #A8A77A;
}

.bg_poison {
    background: #A33EA1;
}

.bg_psychic {
    background: #F95587;
}

.bg_rock {
    background: #B6A136;
}

.bg_steel {
    background: #B7B7CE;
}

.bg_water {
    background: #6390F0;
}

.bg_stellar {
    background: #6666FF;
}

.bg_unknown {
    background: #CCCCCC;
}

/* -------------BACKGROUND CARD---------------- */

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
    transition: background-color 0.2s ease;
}
.bug:hover {
    background-color: #AEDC4A;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
    transition: background-color 0.2s ease;
}
.dark:hover {
    background-color: #6F6D78;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
    transition: background-color 0.2s ease;
}
.dragon:hover {
    background-color: #478DE4;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
    transition: background-color 0.2s ease;
}
.electric:hover {
    background-color: #F9E97B;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
    transition: background-color 0.2s ease;
}
.fairy:hover {
    background-color: #F4A7ED;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
    transition: background-color 0.2s ease;
}
.fighting:hover {
    background-color: #E35C75;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
    transition: background-color 0.2s ease;
}
.fire:hover {
    background-color: #FFC97D;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
    transition: background-color 0.2s ease;
}
.flying:hover {
    background-color: #B9CDF3;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
    transition: background-color 0.2s ease;
}
.ghost:hover {
    background-color: #7B89D6;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
    transition: background-color 0.2s ease;
}
.grass:hover {
    background-color: #7DD773;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
    transition: background-color 0.2s ease;
}
.ground:hover {
    background-color: #E89B71;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
    transition: background-color 0.2s ease;
}
.ice:hover {
    background-color: #A0E3D7;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
    transition: background-color 0.2s ease;
}
.normal:hover {
    background-color: #B9BBB8;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
    transition: background-color 0.2s ease;
}
.poison:hover {
    background-color: #CB81DC;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
    transition: background-color 0.2s ease;
}
.psychic:hover {
    background-color: #FFAAA7;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
    transition: background-color 0.2s ease;
}
.rock:hover {
    background-color: #DDD09F;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
    transition: background-color 0.2s ease;
}
.steel:hover {
    background-color: #73B0BF;
}

.stellar {
    background: #6666FF;
    box-shadow: 0 0 20px #6666FF;
    transition: background-color 0.2s ease;
}
.stellar:hover {
    background-color: #8888FF;
}

.unknown {
    background: #CCCCCC;
    box-shadow: 0 0 20px #CCCCCC;
    transition: background-color 0.2s ease;
}
.unknown:hover {
    background-color: #DDDDDD;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
    transition: background-color 0.2s ease;
}
.water:hover {
    background-color: #74B5EB;
}

