:root {
    --bug: #92BC2C;
    --dark: #595761;
    --dragon: #0C69C8;
    --electric: #F2D94E;
    --fairy: #EE90E6;
    --fighting: #D3425F;
    --fire: #FBA54C;
    --flying: #A1BBEC;
    --ghost: #5F6DBC;
    --grass: #5FBD58;
    --ground: #DA7C4D;
    --ice: #75D0C1;
    --normal: #A0A29F;
    --poison: #B763CF;
    --psychic: #FA8581;
    --rock: #C9BB8A;
    --steel: #5695A3;
    --stellar: #6666FF;
    --unknown: #CCCCCC;
    --water: #539DDF;
}

/* -------------------- Weißer Text (dunkle Hintergründe) -------------------- */
:root {
  --w-bug: #63960A;
  --w-dark: #595761;
  --w-dragon: #0C69C8;
  --w-electric: #B59B22;
  --w-fairy: #9E4D9D;
  --w-fighting: #8A2A3B;
  --w-fire: #C37418;
  --w-flying: #5C6B8A;
  --w-ghost: #2D397D;
  --w-grass: #2B7A0B;
  --w-ground: #804D2B;
  --w-ice: #297C73;
  --w-normal: #58594F;
  --w-poison: #693E8C;
  --w-psychic: #8A3634;
  --w-rock: #7A6D4E;
  --w-steel: #37607A;
  --w-stellar: #0000FF;
  --w-unknown: #7A7A7A;
  --w-water: #1C5F9B;
}

/* -------------------- Schwarzer Text (helle Hintergründe) -------------------- */
:root {
  --b-bug: #92BC2C;
  --b-dark: #7B7B8B;
  --b-dragon: #0C69C8;
  --b-electric: #F2D94E;
  --b-fairy: #EE90E6;
  --b-fighting: #D3425F;
  --b-fire: #FBA54C;
  --b-flying: #A1BBEC;
  --b-ghost: #5F6DBC;
  --b-grass: #5FBD58;
  --b-ground: #DA7C4D;
  --b-ice: #75D0C1;
  --b-normal: #A0A29F;
  --b-poison: #B763CF;
  --b-psychic: #FA8581;
  --b-rock: #C9BB8A;
  --b-steel: #5695A3;
  --b-stellar: #6666FF;
  --b-unknown: #CCCCCC;
  --b-water: #539DDF;
}


/* -------------BACKGROUND ICONS AND TEXT---------------- */
.bg_bug {
    background: #758e22;
    /* dunkler als #92BC2C */
}

.bg_dark {
    background: #484550;
    /* dunkler als #595761 */
}

.bg_dragon {
    background: #0a54a6;
    /* dunkler als #0C69C8 */
}

.bg_electric {
    background: #b9a941;
    /* dunkler als #F2D94E */
}

.bg_fairy {
    background: #ad6b9f;
    /* dunkler als #EE90E6 */
}

.bg_fighting {
    background: #a93047;
    /* dunkler als #D3425F */
}

.bg_fire {
    background: #bb6d26;
    /* dunkler als #FBA54C */
}

.bg_flying {
    background: #7a8cbc;
    /* dunkler als #A1BBEC */
}

.bg_ghost {
    background: #48528d;
    /* dunkler als #5F6DBC */
}

.bg_grass {
    background: #4a9643;
    /* dunkler als #5FBD58 */
}

.bg_ground {
    background: #a05a34;
    /* dunkler als #DA7C4D */
}

.bg_ice {
    background: #5f9f98;
    /* dunkler als #75D0C1 */
}

.bg_normal {
    background: #7e7f7b;
    /* dunkler als #A0A29F */
}

.bg_poison {
    background: #8448a3;
    /* dunkler als #B763CF */
}

.bg_psychic {
    background: #ba5e62;
    /* dunkler als #FA8581 */
}

.bg_rock {
    background: #96854a;
    /* dunkler als #C9BB8A */
}

.bg_steel {
    background: #3f6874;
    /* dunkler als #5695A3 */
}

.bg_water {
    background: #3e71a4;
    /* dunkler als #539DDF */
}

.bg_stellar {
    background: #4d4dcc;
    /* dunkler als #6666FF */
}

.bg_unknown {
    background: #999999;
    /* dunkler als #CCCCCC */
}

/* -------------BACKGROUND ICONS AND TEXT TRANSPARENT---------------- */
.bg_bug_transparent {
    background: rgba(117, 142, 34, 0.8); /* #758e22 + 80% */
}

.bg_dark_transparent {
    background: rgba(72, 69, 80, 0.8); /* #484550 + 80% */
}

.bg_dragon_transparent {
    background: rgba(10, 84, 166, 0.8); /* #0a54a6 + 80% */
}

.bg_electric_transparent {
    background: rgba(185, 169, 65, 0.8); /* #b9a941 + 80% */
}

.bg_fairy_transparent {
    background: rgba(173, 107, 159, 0.8); /* #ad6b9f + 80% */
}

.bg_fighting_transparent {
    background: rgba(169, 48, 71, 0.8); /* #a93047 + 80% */
}

.bg_fire_transparent {
    background: rgba(187, 109, 38, 0.8); /* #bb6d26 + 80% */
}

.bg_flying_transparent {
    background: rgba(122, 140, 188, 0.8); /* #7a8cbc + 80% */
}

.bg_ghost_transparent {
    background: rgba(72, 82, 141, 0.8); /* #48528d + 80% */
}

.bg_grass_transparent {
    background: rgba(74, 150, 67, 0.8); /* #4a9643 + 80% */
}

.bg_ground_transparent {
    background: rgba(160, 90, 52, 0.8); /* #a05a34 + 80% */
}

.bg_ice_transparent {
    background: rgba(95, 159, 152, 0.8); /* #5f9f98 + 80% */
}

.bg_normal_transparent {
    background: rgba(126, 127, 123, 0.8); /* #7e7f7b + 80% */
}

.bg_poison_transparent {
    background: rgba(132, 72, 163, 0.8); /* #8448a3 + 80% */
}

.bg_psychic_transparent {
    background: rgba(186, 94, 98, 0.8); /* #ba5e62 + 80% */
}

.bg_rock_transparent {
    background: rgba(150, 133, 74, 0.8); /* #96854a + 80% */
}

.bg_steel_transparent {
    background: rgba(63, 104, 116, 0.8); /* #3f6874 + 80% */
}

.bg_water_transparent {
    background: rgba(62, 113, 164, 0.8); /* #3e71a4 + 80% */
}

.bg_stellar_transparent {
    background: rgba(77, 77, 204, 0.8); /* #4d4dcc + 80% */
}

.bg_unknown_transparent {
    background: rgba(153, 153, 153, 0.8); /* #999999 + 80% */
}
